## ignoring temporary files from emacs/knitr/tex

*/*~
*/*/*~
*/*.aux
*/*.bbl
*/*.blg
*/*.log
*/*.out
*/*.pdf
*/*.tex

## ignoring intermediate vignette data
vignettes/figure/

## ignoring output of tests
tests/*.pdf
tests/*.png
tests/*.jpg
tests/figures/*pdf
tests/figures/*png
tests/figures/*jpeg

